:root[data-theme="light"] {
    --contentColor: #47536b;
    --formbackground: #F6F6F8;
    --formborder: #dadee74c;
    --background: #ffffff;
    --foreground: #171717;

}

:root {
    --contentColor: #94a0b8;
    --formbackground: #171717cc;
    --formborder: #313a4e99;
    --background: #0a0a0a;
    --foreground: #ededed;
}

.content {
    color: var(--contentColor);
}

.loader {
    background: var(--background);
}


.uploadFilesContainer {
    border: 1px solid var(--formborder);
}

.result-content-box {
    border: 1px solid var(--formborder) !important;
    background-color: var(--formbackground) !important;
    color: var(--contentColor) !important;
}


.chip {
    border: 1px solid var(--foreground) !important;
    background-color: transparent !important;
    color: var(--foreground) !important;
}

.highlight-cards {
    border: 1px solid var(--formborder);
}

.custom-textfield .MuiOutlinedInput-root {
    color: var(--contentColor);
    transition: all 0.3s ease-in-out;
}

.custom-textfield .MuiOutlinedInput-root fieldset {
    border: 1px solid var(--formborder);
    transition: border-color 0.3s ease-in-out;
}

.custom-textfield .MuiOutlinedInput-root:hover fieldset {
    border: 1px solid var(--contentColor);
}

.custom-textfield .MuiOutlinedInput-root.Mui-focused fieldset {
    border: 1px solid var(--contentColor);
}

.custom-textfield .MuiInputLabel-root {
    color: var(--contentColor);
}

.custom-textfield .MuiInputLabel-root.Mui-focused {
    color: var(--contentColor);
}


.scv-swiper .swiper-button-next,
.scv-swiper .swiper-button-prev {
    color: var(--contentColor);

}

.scv-swiper .swiper-button-next::after,
.scv-swiper .swiper-button-prev::after {
    font-size: 22px;

}